/* Soft reset do CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/625/953/non_2x/soft-abstract-background-in-light-colors-vector.jpg);
    background-size: auto 200vh;
    font-family: 'Gloria Hallelujah', cursive;
    height: 100vh;
    font-size: 18px;
    
  }

  /*A tag "@media" precisa da declaração da anotação <meta name="viewport" no html para funcnionar.
    Objetivo: Declara o tamanho mínimo necessário da tela para que os comandos CSS funcionem
              Utilizada para configurar a página de forma resposiva através de novos parâmetros quando NÃO atingem
              o tamanho mínimo para aplicar o CSS padrão
              - O @media pode ter diversas declarações*/
  @media (min-width: 400px){
    body{
      font-size: 14px;
    }

  }

  header{
      height: 100vh;
      display: flex;
      /*As tags Justify-contente e a Align-items 
      só funcionam devido a propriedade "display: flex"*/
      justify-content: center;
      align-items: center;
  }
  
  .menu{
    background-color: white;
    position: fixed;
    width: 100vw;
    /*A propriedade "top" só funciona se a propriedade 
    "position" tiver sido declarada*/
    top: 0;
  }
  
  .menu li{
    list-style: none;
  }

  .menu a{
    display: block;
    padding: 10px 20px;
  }

  
  .menu ul{
    display: flex;
    justify-content: space-around;
  }

  a {
    text-decoration: none;
    color: teal;
  }
  
  a:hover{
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title {
    color: teal;
    text-align: center;
  }

  .site-title{
    font-size: 4em;
    font-family: 'PT Serif', serif;
    font-style: italic;
  }
  
  .site-subtitle {
    font-style: italic;
    font-family: 'PT Serif', serif;
  }

  .portfolio{
      padding: 2em;
      height: 100vh;
    }
  .portfolio h2{
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 1.5em;
    font-size: 2em;
  }

  .portfolio .grid{
    display: grid;
    gap: 2em;
  }

  @media (min-width: 560px){
    .portfolio .grid{
      grid-template-columns: 240px 240px;
    }
  }

  @media (min-width: 880px){
    .portfolio .grid{
      /*grid-template-columns: 240px 240px 240px; -- Pode ser escrita com a função repeat() como abaixo*/
      grid-template-columns: repeat(3, 240px);
      justify-content: center;
      align-content: center;
      height: cal(100vh - 5.5em -48px);
    }
  }

  .portfolio figure{
    text-align: center;
  }
  
  .img-portfolio {
      height: 180px;
      width: 240px;
      object-fit: cover;
      object-position: left bottom;
      border-radius: 50%; /*propriedade responsável por arredondar as bordas das figuras*/
}

